*{
    padding: 0;
    margin: 0;
}

:root{
    --cor-p: rgba(142, 36, 36, 1);
}

ul, a{
    list-style: none;
    text-decoration: none;
    color: inherit;
}

body{
    font-family: 'Inter', sans-serif;
    color: rgba(102, 112, 133, 1);
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
}

/* Header */
.header{
    display: grid;
    grid-template-columns: 150px 1fr 1fr;
    gap: 80px;
    padding: 26px 112px;
    margin-bottom: 100px;
}

.header-menu,
.header-login{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header-menu{
    gap: 16px;
}

.header-menu a{
    display: inline-block;
    padding: 8px 16px;
}

.header-login{
    gap: 12px;
}

.header-login a{
    padding: 10px 18px;
    display: inline-block;
}

.cadastrar{
    background-color: var(--cor-p);
    border-radius: 8px;
    color: white;
}

/* Sobre nós */
.sobrenos{
    display: grid;
    grid-template-columns: 1fr;
}


.sobrenos-introducao{
    text-align: center;
}

.sobrenos-introducao h1{
    font-size: 1rem;
    color: var(--cor-p);
    margin-bottom: 24px;
}

.sobrenos-introducao h2{
    font-size: 3rem;
    color: #000;
    font-weight: 600;
    margin-bottom: 24px;
}