@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

:root{
    --azul-escuro: hsl(233, 47%, 7%);
    --azul-desaturado: hsl(244, 38%, 16%);
    --violeta: hsl(277, 64%, 61%);
    --branco: hsl(0, 0%, 100%);
    --branco-translucido: hsla(0, 0%, 100%, 0.6);
    --lexend-deca: "Lexend Deca", sans-serif;
    --inter: "Inter", sans-serif; 
}

*{
    padding: 0;
    margin: 0;
}

body{
    min-height: 100vh;
    background-color: var(--azul-escuro);
}

body::-webkit-scrollbar {
    display: none;
  }

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container-principal{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 77.01%;
    max-width: 69.4rem;
    min-height: 27.8rem;
    max-height: fit-content;
    background-color: var(--azul-desaturado);
    margin-top: -1rem;
    border-radius: 10px;
}

.container-estatisticas{
    width: 100%;
    text-align: left;
    padding: 4.5rem;
}

h1{
    color: var(--branco);
    font-size: 2em;
    font-family: var(--inter);
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1.3em;
}

strong{
    color: var(--violeta);
}

.descricao{
    color: var(--branco-translucido);
    font-family: var(--inter);
    font-weight: 400;
    margin-top: 1.3rem;
    line-height: 25px;
    font-size: 0.95rem;
    width: 90%;
}

.container-numeros{
    width: 100%;
    display: flex;
    gap: 3.5rem;
    font-family: var(--inter);
    font-weight: 400;
    margin-top: 4.5rem;
}

h2{
    color: var(--branco);
}

.numeros p{
    color: var(--branco-translucido);
    text-transform: uppercase;
    font-family: var(--lexend-deca);
    font-size: 0.8em;
    letter-spacing: 1px;
}

.container-imagem{
    display: flex;
    position: relative;
    width: 75.5rem;
    border-radius: 0 10px 10px 0;
    background-color: var(--violeta);
    max-width: 100%;
}

img{
    width: 100%;
    height: auto;
    mix-blend-mode: multiply;
    opacity: 0.75;
    object-fit: cover;
}

@media screen and (max-width: 1200px) {
    .container-principal{
        flex-direction: column-reverse;
    }
    .container-imagem{
        border-radius: 10px 10px 0 0;
    }
    img{
        border-radius: 0;
    }
    .container-estatisticas{
        text-align: center;
        padding: 2rem;
    }
    .container-numeros{
        flex-direction: column;
        gap: 2.5rem;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 700px){
    img{
        content: url(images/image-header-mobile.jpg);
    }
}